.btn-logout-nav, .btn-logout-header{
  color: var(--blanco);
  background-color: var(--negro);
  border: none;
  border-radius: 5px;
  padding: .5em 1rem;
}

.btn-logout-nav, .btn-logout-header:hover{
  text-decoration: underline;
}

.btn-logout-nav, .btn-logout-header:active{
  background-color: transparent;
  border: 1px solid var(--negro);
  color: var(--negro);
}

.btn-logout-nav{
  display: none;
}

@media only screen and (max-width: 991px){
  .btn-logout-header{
    display: none;
    position: absolute;
  }

  .btn-logout-nav{
    display: block;
  }
}