.btn-logout--container{
  display: flex;
  flex-direction: column;
}

.btn-logout{
  color: var(--blanco);
  background-color: var(--negro);
  border: none;
  border-radius: 5px;
  padding: .5em 1rem;
}

.btn-logout:hover{
  text-decoration: underline;
}

.btn-logout:active{
  background-color: transparent;
  border: 1px solid var(--negro);
  color: var(--negro);
}

@media only screen and (max-width: 991px){
  /* .btn-logout{
    display: none;
    position: absolute;
  } */
}