.btn-logout--container{
  border: 0.5px solid var(--blanco3);
  border-radius: 16px / 16px;
  background: #00000049;
  color: var(--blanco3);
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  gap: 1rem;
  padding: 1.2rem 1.2rem 0.6rem;
  text-align: center;
}

.btn-logout{
  color: var(--blanco);
  background-color: var(--amarillo25);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  padding: .5em 1rem;
}

.btn-logout:hover{
  text-decoration: underline;
}

.btn-logout:active{
  background-color: transparent;
  border: 1px solid var(--negro);
  color: var(--negro);
}

@media only screen and (max-width: 991px){
  
}