.buscador--container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 0.3rem;
}

.buscador--form{
  background: var(--blanco4);
  display: flex;
  flex-direction: row-reverse;
  padding: 0.3rem 0;
  border-radius: 10px / 8px;
  width: 100%;
  box-shadow: 3px 3px 9px var(--negro2);
}

.buscador--input{
  border: none;
  outline: none;
  background: transparent;
  color: var(--blanco);
  padding-bottom: 0.2rem;
  width: 100%;
}

.buscador--input:focus{
  background: var(--blanco4);
}

.buscador--btn{
  background: transparent;
  border: none;
  color: var(--blanco);
}

.buscador--btn:focus{
  border: none;
  outline: none;
  color: var(--amarillo);
  font-size: 1.1rem;
}

@media only screen and (max-width: 320px){
  .buscador--container{
    margin-top: 3rem;
  }

  .buscador--form{
    width: 100%;
    justify-content: center;
  }
}