.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.gap-1{
  gap: 1rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.puntas-redondas{
  border-radius: 17px / 20px;
}

.original{
  background: var(--negro3);
  border: 0.5px solid var(--blanco3);
  border-radius: 10px;
  outline: none;
  padding: 0.7rem;
  color: var(--blanco);
}

.original:focus{
  outline: none;
}

.cambio{
  background: var(--negro3);
  border: 2px solid var(--amarillo);
  border-radius: 10px;
  outline: none;
  padding: 0.7rem;
  color: var(--blanco);
}

.cambio:focus{
  outline: none;
}

.observaciones{
  width: 100%;
  height: initial;
}

.capitalize{
  text-transform: capitalize;
}

.h-23 div{
  height: 23px;
}

.form{
  box-shadow: 0px 0px 10px 2px var(--negro);
  padding: 1rem;
  background-color: var(--negro2);
  border: 0.1px solid var(--blanco4);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  gap: 1rem;
}

.btn-submit{
  background: var(--cyan50);
  color: var(--blanco);
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--blanco);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  box-shadow: 1px 1px 10px var(--negro2);
}