.empleados--container{
  border-radius: 17px / 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icono-nombre-panel-empleados{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.icono-texto{
  font-size: 0.8rem;
  color: var(--amarillo);
  margin-block-start: 0;
  font-weight: 600;
}

.titulo-form{
  font-style: italic;
  color: var(--amarillo);
}

.formulario{
  display: flex;
  gap: 0.5rem;
}

.input{
  line-height: 2rem;
  background: var(--negro3);
  border: 0.5px solid var(--blanco3);
  border-radius: 10px;
  outline: none;
  padding-left: 0.7rem;
  color: var(--blanco);
}

.btn-submit-admin-panel{
  color: var(--blanco);
  font-weight: 800;
  background-color: var(--amarillo50);
  outline: none;
  border: 2px solid var(--amarillo50);
  border-radius: 10px;
}

.btn-submit-admin-panel:hover{
  border: 2px solid var(--amarillo);
  color: var(--amarillo);
}

.btn-submit-admin-panel:active{
  background-color: var(--amarillo);
}

.btn-submit-admin-panel:disabled{
  border: 2px solid var(--blanco2);
  background-color: var(--blanco2);
  color: var(--blanco);
}

.btn-submit-admin-panel:focus{
  border: 2px solid var(--amarillo);
  color: var(--amarillo);
}

.tabla-empleados--panel-admin{
  display: block;
}

.tr-empleados--panel-admin:hover{
  background-color: rgba(255, 255, 255, 0.067);
}

.btn-editar-empleados--panel-admin{
  background-color: transparent;
  border: none;
  color: var(--blanco3);
  font-size: 1.2rem;
}

.btn-editar-empleados--panel-admin:hover{
  color: var(--amarillo);
}

.btn-eliminar-empleados--panel-admin{
  background-color: transparent;
  border: none;
  color: var(--blanco3);
  font-size: 1.2rem;
}

.btn-eliminar-empleados--panel-admin:hover{
  color: var(--rojo);
}

.btn-editar-empleados--panel-admin:active,.btn-eliminar-empleados--panel-admin:active {
  color: var(--blanco);
}