.bienvenida-form-container{
  width: 50%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.bienvenida-form-container h2{
  font-size: 60px;
  font-weight: 400;
  text-shadow: 2px 2px 0 var(--negro);
  text-transform: uppercase;
  text-align: center;
  color: var(--blanco);
  margin-block: 0;
}

@media only screen and (max-width: 991px) {
  .bienvenida-form-container{
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .bienvenida-form-container{
    width: 100%;
  }
}