.form-login{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  width: 80%;
}

.form-login--container-label-input{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.form-login--label-inputUsuario, .form-login--label-inputPass{
  color: var(--blanco);
  border-bottom: 1px solid var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-login--icons{
  font-size: 2rem;
}

.form-login--input-usuario, .form-login--input-pass{
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--blanco);
  font-size: 1.2rem;
  height: 2rem;
  width: 100%;
}

.form-login--input-usuario:focus, .form-login--input-pass:focus{
  outline: 0 none;
  background-color: var(--blanco4);
  padding-left: 1rem
}

.form-login-btn-submit{
  background-color: transparent;
  border: 2.5px solid var(--blanco);
  border-radius: 12px;
  color: inherit;
  padding: 0.3rem 2rem;
  font-weight: 400;
  max-width: 400px;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all .4s;
}

.form-login-btn-submit:hover{
  background-color: var(--blanco3);
  transition: all .2s;
}

.form-login-btn-submit:active{
  background-color: transparent;
  color: var(--negro);
  border: 1px solid var(--blanco);
}

.form-login-btn-submit:focus{
  outline: 0 none;
  background-color: var(--blanco3);
  border: 2px solid var(--blanco);
  transition: all 0s;
  scale: 106%;
}

@media only screen and (max-width: 600px) {
  .form-login{
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .form-login--input-usuario, .form-login--input-pass{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 300px) {
  .icon-arrow{
    display: none;
  }
}