.form-login{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  width: 60%;
}

.label{
  color: var(--negro);
}

.input{
  color: var(--negro);
  border: none;
  height: 2rem;
  border-radius: 5px;
  box-sizing: border-box;
}

.input:focus{
  border: 2px solid var(--magenta);
  outline: 0 none;
}

.form-login-btn-submit{
  background-color: var(--negro);
  border: 1px solid var(--negro);
  color: var(--blanco);
  border-radius: 5px;
  height: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .4s;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.form-login-btn-submit:hover{
  background-color: rgba(0, 0, 0, 0.7 );
  color: var(--blanco);
  transition: all .4s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.form-login-btn-submit:active{
  background-color: transparent;
  color: var(--negro);
  border: 1px solid var(--blanco);
}

.form-login-btn-submit:focus{
  outline: 0 none;
  border: 2px solid var(--negro);
  transition: all 0s;
  scale: 105%;
}

@media only screen and (max-width: 600px) {
  .form-login{
    width: 100%;
  }
}