.hamburguesa-container{
  display: none;
}

.hamburguesa--icon{
  font-size: xx-large;
  color: var(--blanco);
}

@media only screen and (max-width: 991px) {
  .hamburguesa-container{
    position: fixed;
    display: block;
    left: 1rem;
    top: 1rem;
  }

  .hamburguesa-container-oculta{
    display: none;
  }

  .hamburguesa--btn{
    background: transparent;
    border: none;
  }
}