.hamburguesa--btn{
  background: transparent;
  border: 1px solid var(--negro);
  border-radius: 5px;
}

.hamburguesa--icon{
  font-size: xx-large;
}

@media only screen and (min-width: 992px) {
  .hamburguesa--btn{
    display: none;
  }
}