.inicio-comp--container{
  padding: 1rem;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .inicio-comp--container{
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
  }
}