.input-escribir{
  line-height: 2rem;
  background: var(--negro3);
  border: 0.5px solid var(--blanco3);
  border-radius: 10px;
  outline: none;
  padding-left: 0.7rem;
  color: var(--blanco);
}

.input-date-time{
  filter: invert();
  background: var(--blanco3);
  line-height: 2rem;
  border: 0.5px solid var(--negro3);
  border-radius: 10px;
  outline: none;
  padding: 0.2rem 0.5rem;
}

.text-area{
  resize: none;
  max-width: 390px;
  max-height: 390px;
}