.mostrar-ordenes-pendientes--table-container{
  width: 100%;
  overflow: scroll;
  margin-top: 1rem;
}

.mostrar-ordenes-pendientes--table{
  white-space: nowrap;
  width: 100%;
}

.mostrar-ordenes-pendientes--table-container::-webkit-scrollbar {
  width: 4px;
  height: 7px;
}

.mostrar-ordenes-pendientes--table-container::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.mostrar-ordenes-pendientes--table-container::-webkit-scrollbar-thumb {
  background-color: #666666;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.mostrar-ordenes-pendientes--table-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--amarillo);    /* color of the scroll thumb */
}

@media only screen and (max-width: 991px){
  .mostrar-ordenes-pendientes--table-container{
    overflow: scroll;
  }
}