.nav{
  display: flex;
  align-items: center;
  transition: all .4s;
}

.nav-ul{
  display: flex;
  gap: 1rem;
  padding-left: 0;
  margin-block-start: 0;
}

@media only screen and (max-width: 991px){
  .nav{
    order: -1;
    position: absolute;
    left: -100%;
    background-color: var(--negro);
    min-height: 100vh;
    color: var(--blanco);
    align-items: flex-start;
  }

  .nav-visible{
    left: 0;
    top: 0;
  }
  
  .nav-ul{
    flex-direction: column;
  }

  .nav-ul:nth-child(n){
    background-color: var(--blanco);
    padding: 1rem 2rem;
    gap: 2rem;
  }
}