.not-found-container{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found--icon{
  font-size: 5rem;
  color: var(--error);
}

.not-found--mensaje{
  text-align: center;
}

.not-found--error{
  color: var(--error);
}