.nueva-orden-tbj-comp--container{
  gap: 1rem;
  display: flex;  
  flex-direction: column;
}

.icon-nombre-tipo-trabajo--container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-tipo-trabajo{
  font-size: 2rem;
}

.nombre-tipo-trabajo{
  margin-block-start: 0;
  color: var(--amarillo);
}

.btn-reelegir-trabajo{
  background: var(--cyan50);
  color: var(--blanco);
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 1px 1px 10px var(--negro2);
  transition: all 0.2s;
}

.btn-reelegir-trabajo:hover{
  border: 1px solid var(--amarillo);
  color: var(--amarillo);
  background: var(--blanco3);
  transform: scale(1.01);
}

@media only screen and (max-width: 767px){
  .nueva-orden-tbj-comp--container{
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 991px){
  .nueva-orden-tbj-comp--container{
    padding: 0 1.5rem;
  }
}