.ordenes-pendientes-comp--container{
  padding: 0 2rem;
}

.ordenes-pendientes-comp--container h2{
  text-align: center;
}

@media only screen and (max-width: 767px){
  .ordenes-pendientes-comp--container{
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 991px){
  .ordenes-pendientes-comp--container{
    padding: 0 1.5rem;
  }
}