.saludo-usuario{
  display: flex;
  justify-content: space-between;
  padding: 5px 2rem;

}

.saludo-usuario i {
  text-transform: capitalize;
}

@media only scree and (max-width: 819px){
  .saludo-usuario{
    padding: 0 1rem;
  }
}

@media only scree and (max-width: 991px){
  .saludo-usuario{
    padding: 0 1.5rem;
  }
}