.saludo-usuario--container{
  display: flex;
  justify-content: space-between;
}

.saludo-usuario--container p {
  text-transform: capitalize;
  margin-block: 0;
}

@media only scree and (max-width: 819px){
  .saludo-usuario--container{
    padding: 0 1rem;
  }
}

@media only scree and (max-width: 991px){
  .saludo-usuario--container{
    padding: 0 1.5rem;
  }
}