.tipo-trabajo--botones-container{
  border-radius: 17px / 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tipo-trabajo--boton{
  background: var(--cyan50);
  color: var(--blanco);
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 1px 1px 10px var(--negro2);
  transition: all 0.1s;

}

.tipo-trabajo--boton:hover{
  border: 1px solid var(--amarillo);
  color: var(--amarillo);
  background: var(--blanco3);
  transform: scale(1.07);
}

.svg{
  pointer-events: none;
  font-size: 2rem;
}