@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  /* Colores */
  --negro: #353535;
  --negro2: #00000045;
  --negro3: #00000049;
  --blanco: #ffffff;
  --blanco2: #e6e6e6; 
  --blanco3: #e6e6e69e; 
  --blanco4: #e6e6e62b;
  --blanco5: #e6e6e640 
  --magenta: #FF0090;
  --magenta50: #ff009080;
  --amarillo: #FFFF00;
  --amarillo25: #FFFF00bb;
  --amarillo50: #FFFF0080;
  --cyan: #00FFFF;
  --cyan50: #00FFFF80;
  --error: #ff2929;
  --verde: rgb(19, 152, 19);

  /* Font */
  --Montserrat: 'Montserrat', sans-serif;

  /* Background */
  --bg-gradient:
    radial-gradient(circle at 50% 0, var(--amarillo), rgba(255, 0, 0, 0) 99.71%), 
    radial-gradient(circle at 6.7% 75%, var(--magenta), rgba(0, 0, 255, 0) 99.71%),
    radial-gradient(circle at 93.3% 75%, var(--cyan), rgba(0, 255, 0, 0) 99.71%)
  ;
}

body {
  margin: 0;
  font-family: var(--Montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--blanco);
  min-height: 100vh;
  background: 
    radial-gradient(
      40% 40% at 60% 10%, rgba(255, 0, 144, 0.86) 0%, 
      rgba(0, 0, 0, .3) 100%),
    radial-gradient(
      40% 40% at 90% 70%, rgba(255, 255, 0, 0.59) 0%,
      rgba(0, 0, 0, .3) 100%),
    radial-gradient(
      40% 40% at 10% 30%, rgba(0, 255, 255, 0.75) 0%, 
      rgba(0, 0, 0, .7) 100%)
  ;
  backdrop-filter: blur(60px);
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #666666;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

input[type='submit']{
  font-family: var(--Montserrat);
}
