@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

:root{
  /* Colores */
  --negro: #353535;
  --blanco: #f8f8f8;
  --magenta: #FF0090;
  --magenta50: #ff009080;
  --amarillo: #FFFF00;
  --amarillo50: #FFFF0080;
  --cyan: #00FFFF;
  --cyan50: #00FFFF80;

  /* Font */
  --Karla: 'Karla', sans-serif;
}

body {
  margin: 0;
  font-family: var(--Karla);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--negro);
  min-height: 100vh;
  background: 
    radial-gradient(circle at 50% 0, var(--amarillo), rgba(255, 0, 0, 0) 70.71%), 
    radial-gradient(circle at 6.7% 75%, var(--magenta), rgba(0, 0, 255, 0) 70.71%),
    radial-gradient(circle at 93.3% 75%, var(--cyan), rgba(0, 255, 0, 0) 70.71%)
  ;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--negro);
}

input[type='submit']{
  font-family: var(--Karla);
}
