:root{
  /* Colores */
  --negro: #353535;
  --magenta: #FF0090;
  --amarillo: #FFFF00;
  --cyan: #00FFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Arial', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
